body {
  background-color: rgb(15, 15, 15);
}
.App {
  text-align: center;
  color: rgb(255, 189, 189);
}

img {
  width: 98%;
  border-radius: 10%;
}
.container {
  max-width: 600px;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.3em;
}
